<% include adminheader.ejs %>
  <div id="stats">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="fs-2 fw-bold">Statistics</h1>
        <p class="col-md-8 fs-5">Various statistics for the election held are as follows :</p>
        <ul>
          <li class="fs-6"><b>Nmber of Registered Voters : </b>
            <%= voters.length%>
          </li>
          <li class="fs-6"><b>Number of Candidates : </b>
            <%= candidates.length%>
          </li>
          <li class="fs-6"><b>Number of Positions at Which Elections Are Held : </b>
            <%= election.length%>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>

  </body>

  </html>